/*登录*/
.login-main {
        margin: 0 auto;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        width: 350px;
        height: 300px;
        background: rgba(255,255,255,0.9);
        /*内容居中*/
        text-align: center;
		text-transform: uppercase;
        /*表单居中*/
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -175px;
        margin-left: -175px;
    }

.form-title{
	color: #212121;
	font-weight: 800;
}

a{
    text-decoration:none; /*去掉下划线*/
    color: #616161;
    font-family: '黑体';
    font-size: 14px; 
}

.input-content input{
    width: 320px;
    height: 40px;
    border-radius: 5px; /*圆角矩形*/
    text-indent: 10px; /*框内文字缩进*/
    margin: 10px auto;
}

.input-submit input {
	width: 320px;
    height: 40px;
    border-radius: 5px; /*圆角矩形*/
    text-indent: 10px; /*框内文字缩进*/
    margin: 10px auto;
    color: #fff;
    background: #616161;
    text-align: center;
    border: 0px;
}

.note{
        width: 100%;
        height: auto;
        color: #9b9c98;
        font-size: 12px;
        margin-top: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}